.cardLogin {
	margin-left: 30%;
	margin-top: 20px;
	border: 2px solid #7ac4f5;
	display: inline-block;
	width: 35%;
	height: auto;
	border-radius: 20px;
	
}

.cardLogin:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.cardReg{
	margin-top: 20px;
	border: 4px solid hsl(317, 79%, 91%);
	display: inline-block;
	width: 35%;
	height: auto;
	border-radius: 20px;
}

.loginTitle {
	background-image: linear-gradient(to right, rgb(197, 247, 19),
	rgb(241, 128, 75));
	text-align: center;
	font-size: 30px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	height: 90px;
	font-size: 50px;
	padding: 5px;
	color: rgb(14, 5, 131);
}

.btnsubmit{
	margin-bottom: 10px;
}


.userName {
	margin: 10px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

.inp {
	background-image: linear-gradient(to right, rgb(191, 231, 181),
		rgb(230, 230, 191));
	height: 50px;
	color: rgb(46, 11, 143)
}

.email,.password,.name{
	margin-left: 20px;
	color: rgb(62, 9, 146);
}

body{
	background-image: url("https://media.istockphoto.com/photos/empty-classroom-picture-id1216453954?k=20&m=1216453954&s=612x612&w=0&h=YVYAbCONTXkKTEZmdXKPgfZdrSonFdYVRQ3rRtbwIUA=");
  }