body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f36262;
background-color: rgb(245, 206, 206);}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #a1d6c3;
  color: rgb(252, 241, 241);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #a4af42;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
body{
	background-image: url("https://media.istockphoto.com/photos/empty-classroom-picture-id1216453954?k=20&m=1216453954&s=612x612&w=0&h=YVYAbCONTXkKTEZmdXKPgfZdrSonFdYVRQ3rRtbwIUA=");
  }

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}